[mysqld]
default_authentication_plugin=mysql_native_password
sql-mode="NO_ENGINE_SUBSTITUTION"
default-time-zone = "+03:00"
innodb_strict_mode = 0
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512MB
innodb_log_buffer_size = 2M
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
max_allowed_packet = 300M
transaction-isolation = READ-COMMITTED
sync_binlog = 0
